.topnav{

    height:92px ;
    width: 1210px;
    /* margin: 0; */
    margin: 0 auto;
}
.topnav-left{
    float: left;
    width: 130px;
    height: 90px;
}
.topnav-left img{
    height: 38px;
    width: 38px;
    margin-top: 25px;
    float: left;
}
.topnav-left a{
    font-size: 38px;
    color: RGB(255,80,115);
    margin-top: 23px;
    margin-left: 11px;
    float: left;
}
/* .topnav-left a:nth-child(3):hover{
   height: 300px;
   width: 100px;
   background-color: #fff;
} */
/* .topnav-last-right a{
    font-size:20px ;
    color:RGB(255,215,224);
    line-height: 90px;
    margin-left: 60px;
    height: 62px;
    width: -22px;
}
.topnav-last-right a:hover{
    color:#fff;
    border-bottom: 2px solid #fff;
} */
.topnav-right{
    float: right;
    width: 748px;
    height: 92px;
    background-color: #fff;
    line-height: 92px;
    font-size: 21px;
}
.topnav-right a{
    color: RGB(50,50,50);
    margin: 0 13px;
    height: 62px;
    width: -22px;
}

.topnav-right a:hover{
    color: RGB(255,147,164);
    border-bottom: 2px solid RGB(255,147,164);
}
.good{
    background-color: RGB(238,238,238);
}
.beauty{
    height: 48px;
    width: 1210px;
    /* margin: 0; */
    margin: 0 auto;
    margin-top: -4px;
}
.beauty img{
    height: 22px;
    width: 24px;
    float: left;
    margin-top: 12px;
}
.beauty span{
    float: left;
    margin-top: 18px;
    margin-left:12px;
}
.more{
    background-color: RGB(238,238,238);
    height: 438px;
    /* width: 100%; */
    width: 1210px;
    /* margin: 0; */
    margin: 0 auto;
    margin-top: -13px;
    background-color: RGB(238,238,238);
}
.more-one,.more-two,.more-three{
    float: left;
    height:438px ;
    width:398px ;
    background-color: RGB(255,255,255);
    margin-top: 13px;
}
/* .more-one{
    padding-left: 20px;
} */
.more-one ul{
  padding-left: 20px;
}
.more-three{
    padding-left: 14px;
}
.more-one,.more-two{
    border-right: 1px solid RGB(255,237,241);
}
.more-top{
    height:35px ;
}
.more-top span,a{
    color: RGB(255,146,164);
}
.more-top a{
    font-size: 16px;
    float: right;
    margin-right: 40px;
    /* margin-top: 40px; */
    padding-top:13px ;
    color:RGB(255,146,173) ;
}
.more-top span{
    float: left;
    font-size: 30px;
    margin-left: 30px;
    padding-top: 8px;
}
.more-bottom{
    margin-top: 46px;
}
.more-bottom ul li a{
    display: block;
    width: 362PX;
    color: RGB(50,50,50);
    font-size: 17px;
    line-height: 35px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.meiyou img{
    height: 82px;
    width: 82px;
    float: left;
    margin-left:80px;
    margin-top:48px;
}
.contact dl{
    float: left;
    margin-top:105px;
    margin-right:142px ;
}
.contact dt{
    line-height: 55px;
    color:RGB(255,80,155) ;
    font-size: 20px;
}
.contact dd{
    color: RGB(136,136,136);
    font-size:17px;
    line-height: 40px;
}
.contact dd:hover{
     color: RGB(255,80,155);
}
.company-box{
    text-align: center;
    margin-top: 360px;
    line-height: 30px;
    color: RGB(136,136,136);
    font-size: 14px;
}
.company p:hover{
    color: RGB(255,80,155);
}
/* 2.html */
.know img{
   width: 100%;
   height: 890px;
}
.know{
    position: relative;
}
.women img{
    height: 180px;
    width: 320px;
    position: absolute;
    top: 218px;
    left: 400px;
}
h2{
    position: absolute;
    top: 126px;
    left: 185px;
    color: #fff;
    font-size: 33px;
    font-weight: 500;

}
.register{
    position: absolute;
    top: 115px;
    left: 1125px;
    height: 520px;
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
}
.register h3{
    height: 78px;
    width: 100%;
    text-align: center;
    color: RGB(74,74,74);
    font-size: 24px;
    line-height: 78px;
    font-weight: 500px;
}
input{
    height: 40px;
    width: 330px;
    border: 1px solid RGB(221,221,221);
    margin-top: 15px;
    border-radius: 8px;
    margin-left: 80px;
}
.input input{
    height: 40px;
    width: 175px;
    float: left;
}
.input img{
    /* display: block; */
    float: left;
    height:40px ;
    width: 90px;
    /* margin-top: -45px;
    margin-left: 264px; */
    margin-top: 31px;
    margin-left:5px;

}
.input{
    height: 108px;
    width: 100%;
}
.input span{
    color: RGB(85,164,254);
    font-size:14px ;
    float: left;
    margin-top: 45px;
    margin-left: 5px;
}
input:focus {
    border: 1px solid RGB(255,116,185);
}
.placeholder{
    padding-left:10px ;
    font-size:14px ;
    color: RGB(181,181,181);
}
.password i,a,span{
    float: left;
}
.password{
    height: 40px;
    width: 100%;
}
.password i{
    height: 21px;
    width: 21px;
    background-color: RGB(255,116,185);
    color: #fff;
    border-radius: 4px;
    /* text-align: center; */
    margin-left: 80px;
    font-size: 14px;
    padding-top: 2px;
    padding-left: 2px;
}
.password a{
 color: RGB(31,45,61);
 font-size:14px ;
 margin-left: 5px;
}
.password span{
    color: RGB(46,144,254);
    margin-left: 153px;
}
button{
    width: 332px;
    height: 40px;
    background-color: RGB(255,255,255);
    border: 2px solid RGB(255,116,185);
    border-radius: 8px;
    margin-left: 80px;
    font-size: 20px;
}
.button-one{
   color: #fff;
    background-color: RGB(255,116,185);
   
}
.button-one:hover,.button-two:hover{
    opacity: 0.8;
}
.button-two{
color:RGB(255,116,185) ;
margin-top: 16px;
}
.iconfont a{
    color: RGB(50,50,50);
    margin-top: 35px;
}
.use{
color:RGB(50,50,50) ;
font-size: 14px;
margin-left: 80px;

}
.icon-icon,
.icon-weibo,
.icon-weixin{
    font-size:30px ;
    margin-top: 10px;
}
.icon-icon{
    color:RGB(18,184,245) ;
    margin-left: 25px;
}
.icon-weixin{
    color: RGB(126,211,33);
    
}
.icon-weibo{
    color: RGB(245,100,103);
    margin-left: 25px;
}
.content{
    height: 30px;
    width: 150px;
    float: left;
    margin-left:30px;
    margin-top: -8px;
}
.platform{
    width: 100%;
    height: 1000px;
    background-color: rgb(253, 244, 250);
}
.platform-one{
display: block;
  height: 170px;
  width: 170px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  float: left;
  margin: 115px;
  box-shadow: 0 2px 26px rgba(255,116,185,.15);
  /* transition: 2s; */
  /* min-width: 350px; */
}
.platform-one img{
    height: 95px;
    width: 110px;
    margin-top: 33px;
    margin-left: 26px;
}
.platform-bottom{
    margin-top:67px;
    width: 350px;
    text-align: center;
    margin-left: -90px;

    line-height: 28px;
}
.name{
    font-size:26px;
    color: rgb(58, 57, 57);
    line-height:35px ;
}
.platform-bottom:last-child{
    font-size: 16px;
    color: rgb(197, 194, 194);
}
.photo{
    width: 100%;
    height: 1000px;

}
.join{
    margin-top: 200px;
    text-align: center;

}
.join h1{
    font-size: 50px;
    color: RGB(255,116,185);
    font-weight: 400;
}
.join h4{
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
}
.head-portrait{
    margin-top: 30px;
}
.protrait-box{
    height: 84px;
    width: 84px;
    float: left;
    margin: 25px 25px;
}
.head-portrait img{
    height: 79px;
    width: 79px;
    border: 2px solid RGB(255,116,185);
    border-radius: 50%;
    margin-top:35px;
    float: left;

}
.head-portrait img:hover{
    /* height: 82px;
    width: 82px; */
    transform: scale(1.05, 1.05);
}
.protrait-box img{
float: left;

}
/*  3.html */
.big-img img{
    /* height:420px ; */
    width: 100%;
}

.situation{
    position: absolute;
    top: 291px;
    left: 333px;
    margin-top: 0px;
    height: 2003px;
    width: 1202px;
    background-color:RGB(255,255,255) ;

}
.gongsi{
    background-color:rgb(236, 233, 233);
    width: 100%;
    height: 2057px;
} 
.big-img{
    width: 100%;
    background-color: RGB(255,112,140);
    height: 460px;
}
.title{
    height: 163px;
}
.title {
    color: RGB(50,50,50);
    /* line-height: 163px; */
    font-size:30px ;
    margin-top: 60px;
    text-align: center;
}
.text{
    width: 1059px;
    margin: 0 auto;
    margin-top: -70px;
}
.text p{
    font-size: 17px;
    color:RGB(50,50,50) ;
    line-height: 33px;
    text-indent:2em; 
}
.environment img{
    margin-left:105px ;
    width: 955px;
    height: 477px;
    margin-top: 20px;
}
.cheng{
    height: 1780px;
    width: 100%;
}
.bottomnav{
    height:150px ;
    width: 100%;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    color: RGB(136,136,136);
    width: 1210px;
    margin: 0 auto;
}
.video1{
    background-color: RGB(255,228,233);
    width: 100%;
    height: 900px;
}
.video1-left{
    height:260px ;
    width:460px ;
    box-shadow: 0px 0px 10px RGB(239,89,125);
    margin-top: 248px;
    margin-left: 57px;
}
.video1-left embed{
    height:260px ;
    width:460px ;
    box-shadow: 0px 0px 10px RGB(239,89,125);
    float: left;
    /* margin-top: 0px;
    margin-left: 0px; */
}
.video1-left{
    float: left;
}
.video1-right{
    height: 314px;
    width: 400px;
    float: left;
    margin-left: 237px;
    margin-top: 260px;
}
.logo-logo img{
    height: 80px;
    width: 80px;
    float: left;
}
/* .logo-logo img */
.besides{
    float: left;
    margin-left:20px;
}
.besides p{
 color: RGB(50,50,50);
 font-size: 33px;
 line-height: 47px;
}
.besides a{
    color: RGB(50,50,50);
    font-size: 20px;
   }
.video1-top{
    height: 80px;
    width:270px ;
  float: left;
}
.video1-bottom p{
    display: inline-block;
    font-size: 17px;
    color: RGB(50,50,50);
    line-height: 29px;
    margin-top: 20px;
}
.understand a{
   color:RGB(255,75,129) ;
   font-size: 20px;
   border-radius: 12px;
   margin-top: 12px;
   margin-left:12px;
}
.understand{
    height: 50px;
    border: 2px solid RGB(255,75,129);
    width: 118px;
    border-radius: 12px;
    margin-top: 10px;
    
}
.video2{
    height:1000px ;
    width: 100%;
    
}
.video2-left{
    height: 314px;
    width: 400px;
    float: left;
    margin-left: 60px;
    margin-top: 330px;
}
.video2-righ embed{
    float: left;
}
.logo--logo img{
    height: 80px;
    width: 80px;
    float: left;
}
.beside a,b{
    float: left;
}
.video2-bottom p{
    display: inline-block;
}
.understands{
    height: 50px;
    border: 2px solid RGB(255,75,129);
    width: 118px;
    border-radius: 12px;
    margin-top: 10px;
}
.understands a{
    color:RGB(255,75,129) ;
    font-size: 20px;
    border-radius: 12px;
    margin-top: 12px;
    margin-left:12px;
 }
 .video2-bottom p{
    display: inline-block;
    font-size: 17px;
    color: RGB(50,50,50);
    line-height: 29px;
    margin-top: 20px;
}
.beside p{
    color: RGB(50,50,50);
    font-size: 33px;
    line-height: 47px;
    margin-left: 96px;
   }
.beside a{
     color: RGB(50,50,50);
     font-size: 20px;
     margin-left: 16px;
     }
 .video2-right embed{
      height:260px ;
      width:460px ;
     float: left;
}
.video2-right{
    height:260px ;
    width:460px ;
    box-shadow: 0px 0px 10px RGB(239,89,125);
    margin-top: 328px;
    margin-left: 270px;
    float: left;
}
.youzijie{
    height:1000px ;
    width: 100%;
    background-color: RGB(255,228,233);
}
.youzijie-right{
    height: 314px;
    width: 400px;
    float: left;
    margin-left: 241px;
    margin-top: 306px;
    float: left;
}
.youzijie-left img{
    float: left;
    height: 607px;
    width: 500px;
    margin-top: 41px;
    margin-left: 20px;
}
.video2-bottom{
    margin-top: 20px;
}
.topnav-logo img{
    height: 40px;
    width: 115px;
    float: left;
    margin-top: 28px;
}
.transaction{
    height: 466px;
    width:244% ;
    background-color: RGB(255,116,185);
    transition: height .5s linear 1s,border-bottom-left-radius 3s linear,border-bottom-right-radius 3s linear;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    margin-left: -1421px;
  
}
.womens{
    height:466px ;
    width: 100%;
    overflow: hidden;
}
.pass{
    height: 205px;
    width: 580px;
    float: left;
    margin-top:132px ;
    margin-left: 113px;
}
.pass p{
    font-size:38px ;
    color:#fff ;
    line-height:48px ;
}
.pass a{
    font-size:21px ;
    color:#fff ;
    /* line-height:44px ; */
    margin-top: 24px;
}
.user{
    height: 350px;
    width: 374px;
float: left;
background-color: #fff;
}
.small-box{
    height: 6px;
    width: 52px;
    background-color: #fff;
   margin-top: 24px;
}
.user{
    margin-left: 138px;
    margin-top: 50px;
}
.user-box input{
    margin-left: 0px;
    margin-top: 8px;
    height: 40px;
    width: 312px;
    border: none;

    /* border-bottom:1px solid RGB(221,221,221); */
}
.user a{
font-size: 15px;
color:RGB(51,50,51) ;
margin-left: 20px;
margin-top: 20px;
}
.user-box{
    height: 48px;
    width: 312px;
    border-bottom: 1px solid RGB(221,221,221);
    margin-left: 32px;
    margin-top: 41px;
}
.prove{
    height: 48px;
    width:162px ;
    border-bottom: 1px solid RGB(221,221,221);
    margin-top: 40px;
    margin-left: -35px;
    float: left;
}
.prove input{
    height: 30px;
    width: 162px;
    margin-left: 0px;
    border: none;
}
.user img{
    height:23px ;
    width: 90px;
    float: left;
    margin-top: 68px;
    margin-left: 3px;
}
.user i{
    float: left;
    color:RGB(53,171,255);
    font-size: 14px;
    margin-top: 71px;
    margin-left: 10px;
}
.womens{
    height: 1108px;
    width: 100%;
    background-color: #fff;
}
.denglu{
    float: left;
    height: 38px;
    width:82px ;
    background-color:RGB(255,116,185);
    border-radius:21px ;
    margin-top: 10px;
    margin-left: 20px;
}
.denglu a{
  font-size: 17px;
  color: RGB(255,254,255);
  text-align: center;
  margin-top: 10px;
  margin-left: 25px;
}
.denglu-box i{
    margin-left: 184px;
    margin-top: 25px;
}

.daughter{
    height: 232px;
    width: 400px;
    float: left;
    margin-left: 176px;
    margin-top: 267px;
}
.daughter a{
    font-size:20px ;
    color: RGB(95,95,95);
    margin-top: 25px;
}
.daughter p{
    font-size:29px ;
    line-height: 40px;
}
.small{
    height:4px ;
    width:52px ;
    background-color: RGB(255,117,185);
    margin-top: 25px;
}
.we{
    position: relative;
    height: 418px;
    width: 100%;
    background-color: RGB(255,112,140);
}
.small-img img{
    height: 96px;
    width: 96px;
    float: left;
}
.all-box{
    height: 130px;
    width: 1060px;
    margin-left: 75px;
    margin-top: 43px;
}
.contact-we{
    height:1785px;
    width: 1004px;
    margin-top: -126px;
}

.cooperation{
    /* display: block; */
    height:130px ;
    width: 272px;
    float: left;
    margin-left: 48px;
    margin-top: -10px;
}
.cooperation a{
    display: contents;
    font-size:20px ;
    color: RGB(50,50,50);
}
.cooperation p{
   line-height: 30px;
    font-size:16px ;
    color: RGB(136,136,136);
}
.cooperation dd{
    line-height: 30px;
    font-size:16px ;
    color: RGB(151,136,136);
    margin-top: 20px;
}
/* .all:nth-last-child(2){
    margin-top:0px;
} */
.solid{
    height: 1px;
    width: 1130px;
    background-color: RGB(204,204,204);
    margin-left: 30px;
}

/* 加入我们 */
.topnav-last{
    height: 90px;
    width:100%;

}
.topnav-last{
    background-image: url(../img/back.png);
    height:1000px ;
    width: 1903px;
}
.topnav-last-left a{
    float: left;
    color:#fff ;
    font-size: 40px;
    margin-top: 25px;
    margin-left:10px;
}
.topnav-last-left img{
    float: left;
    height: 44px;
    width: 44px;
    margin-top: 25px;
    margin-left: 100px;
}
.topnav-last-right{
    float: right;
}
.topnav-last-right a{
    font-size:20px ;
    color:RGB(255,215,224);
    line-height: 90px;
    margin-left: 60px;
    height: 62px;
    width: -22px;
}
.topnav-last-right a:hover{
    color:#fff;
    border-bottom: 2px solid #fff;
}
.join-box{
    height: 507px;
    width: 493px;
    background-image: url(../img/flou.png);
    float: left;
    margin-left: 150px;
    margin-top: 36px;
}